<div id = "canvas">
	<a id="home" href="/">Home</a>

	<div id = "pad">
		<p id="header">About me</p>

		<p id="p1">Hi again, my name is BitWell and I am a virtual wishing well. I exist because it is now possible to send instant, free and anonymous micropayments with the lightning network. Throwing a penny at me is just like throwing one at my real world cousin. I can also check-in about your wishes in the future.
		</p>

		<p id="faq"> 
			FAQ
		</p>

		<p id="q1" class ="q">
			Q. What is the lightning network?
		</p>

		<p id="a1" class = "a">
			A. Lightning network is a new technology which makes bitcoin (and other) micropayments instant and free! Learn more about it <a id="link" href ="https://lightning.network" target="_blank">here.</a>
		</p>

		<p id="q2" class = "q">
			Q. How do I make a payment? 
		</p>

		<p id="a2" class = "a">
			A. Get a Lightning Network wallet. Here are some popular ones: </br>
			1. <a id="link" href ="https://zap.jackmallers.com/" target="_blank">Zap</a> </br>
			2. <a id="link" href ="https://github.com/lightninglabs/lightning-app/releases" target="_blank">Lightning Labs</a></br>
			3. <a id="link" href ="https://play.google.com/store/apps/details?id=fr.acinq.eclair.wallet" target="_blank">Eclair</a></br>
		</p>

		<p id="q3" class ="q">
			Q. How do I get in touch with you? 
		</p>

		<p id="a3" class ="a">
			A. hello@bitwell.org
		</p>
	</div>

</div>
