// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  height: 100%;
}

body{
   min-height: 100%;
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   -webkit-text-size-adjust: none;
 }

 div#canvas{
   position: relative;
   background-image: image_url("wishingwell.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   min-width: 500px;
   min-height: 650px;
   border: 2px solid gray;
   border-radius: 6px;
   padding: 2px;

 }

  a#about{
    position: absolute;
    margin-left: 1%;
    top: 15px;
    cursor: pointer;
    color: rgba(250,250,250,1);
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4px;
    text-decoration: none;
    background-image: image_url("bg3.jpg");
    background-repeat: repeat;
    opacity: 0.8;
   }

 p#wishesreceived{
  position: absolute;
  left: 10px;
  top: 90%;
  color: rgba(125,125,125,1);
  font-size: 15px;
 }

 p{
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; ;
 }

 p#welcomeheader {
  position: absolute;
  margin-left: 7%;
  margin-top: 30px;
  color: white;
  font-size: 35px;
  width: 550px;
 }

 a#aboutmelink{
  color: rgba(125,125,125,1);
 }

 p#welcomedesc {
  position: absolute;
  width: 550px;
  margin-left: 7%;
  margin-top: 80px;
  color: rgba(125,125,125,1);
  font-size: 15px;
 }

 p#step1{
  position: absolute;
  margin-left: 7%;
  margin-top: 130px;
  color: white;
  font-size: 15px;
 }

 p#next{
  position: absolute;
  left: 200px;
  top: 30px;
  cursor: pointer;
  color: rgba(125,125,125,1);
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px;
  background-image: image_url("bg.jpg");
 }

 p#edit{
  position: absolute;
  left: 200px;
  top: 30px;
  cursor: pointer;
  color: rgba(125,125,125,1);
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px;
  background-image: image_url("bg.jpg");

  }  

 p#done{
  position: absolute;
  left: 200px;
  top: 30px;
  cursor: pointer;
  color: rgba(125,125,125,1);
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px;
  background-image: image_url("bg.jpg");

 }


 div#wishdiv{
  position: absolute;
  margin-left: 9%;
  margin-top: 170px;
 }

 input#wish {
  position: absolute;
 	width: 450px;
  height: 30px;
  background-color:rgba(0, 0, 0, 0);
  color: rgba(125,125,125,1);
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 15px;
 }

 p#charcount{
  position: absolute;
  left: 425px;
  top: 28px;
  color: rgba(125,125,125,1);
  font-size: 10px;
 }

p#wishtext{
  position: absolute;
  width: 500px;
  margin-left: 7%;
  margin-top: 156px;
  color: rgba(125,125,125,1);
  font-size: 15px;
 }


p#step2 {
  position: absolute;
  margin-left: 7%;
  margin-top: 225px;
  color: white;
  font-size: 15px;
 }


p#bitcoins {
  position: absolute;
  margin-left: 10%;
  margin-top: 280px;
  color: rgba(125,125,125,1);
  font-size: 20px;
}

p#step3 {
  position: absolute;
  margin-left: 7%;
  margin-top: 340px;
  color: white;
  font-size: 15px;
 }

 p#back{
  position: absolute;
  left: 24.9%;
  top: 320px;;
  cursor: pointer;
  color: rgba(125,125,125,1);
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px;
  background-image: image_url("bg.jpg");
 }

 p#generating {
  position: absolute;
  margin-left: 20%;
  margin-top: 340px;
  color: rgba(125,125,125,1);
  font-size: 15px;
 }

div.coin {
  positon: absolute;
  width:250px;
  height:250px;
  margin-top: 220px;
  background-repeat: no-repeat;
  -moz-transform: scale(0.35,0.35);

  -ms-transform: scale(0.35,0.35);

  -webkit-transform: scale(0.35,0.35);

  -o-transform: scale(0.35,0.35);

  transform: scale(0.35,0.35);
  display: flex;
  flex-direction: row;
 }

 div#cent{
  position: absolute;
 	background-image: image_url("Penny.png");
  margin-left: 4%;
 }

 div#nickel{
  position: absolute;
  background-image: image_url("Nickel.png");
  margin-left: 11%;
  margin-top: 218px;
 }

 div#dime{
  position: absolute;
  background-image: image_url("Dime.png");
  margin-left: 18.5%;
  margin-top: 222px;
 }

 div#quarter{
  position: absolute;
  background-image: image_url("Quarter.png");
  margin-left: 25.4%;
  margin-top: 215px;
 }

 div#fiftycent{
  position: absolute;
  background-image: image_url("50_cent.png");
  margin-left: 34%;
  margin-top: 205px;
 }

 div#dollar{
  position: absolute;
  background-image: image_image_url("Dollar.png");
  margin-left: 43.5%;
 }

 div#lightning{
  position: absolute;
  height: 250px;
  width: 350px;
  margin-left: 12%;
  margin-top: 360px;
 }


 input#invoice {
  position: absolute;
  position: top;
  margin-left: 60px;
  margin-top: 10px;
  width: 280px;
  height: 15px;
  background-color:rgba(125,125,125,0.5);
  color: white;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 10px;
 }

 input#peer{
  position: absolute;
  margin-left: 60px;
  margin-top: 35px;
  width: 280px;
  height: 15px;
  background-color:rgba(125,125,125,0.5);
  color: white;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 10px;
 }

 p#invoicelabel{
  position: absolute;
  margin-left: 10px;
  margin-top: 15px;
  color: white;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
 }

 p#peerlabel{
  position: absolute;
  margin-left: 10px;
  margin-top: 40px;
  color: white;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
 }

 div#payqrcode {
  position: absolute;
  margin-top: 70px;
  width: 150px;
  height: 150px;
  border: 10px solid white;
 }

div#peerqrcode {
  position: absolute;
  margin-top: 70px;
  margin-left: 180px;
  width: 150px;
  height: 150px;
  border: 10px solid white;
 }

div#peerqrcode {
  position: absolute;
  margin-top: 70px;
  margin-left: 180px;
  width: 150px;
  height: 150px;
  border: 10px solid white;
 }

a#lightningwallet{
  position: absolute;
  margin-left: 80px;
  margin-top: 245px;
  color: white;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  cursor: pointer;
 }

div#paymentsuccess {
  position: absolute;
  margin-left: 7%;
  margin-top: 150px;
  color: rgba(125,125,125,1);
  font-size: 15px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
 }

p#received {
  position: absolute;
  margin-left: 15%;
  margin-top: -15px;
  color: white;
  font-size: 15px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
 }

input#email {
  position: absolute;
  width: 250px;
  height: 20px;
  background-color:rgba(0, 0, 0, 0);
  color: rgba(125,125,125,1);
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 15px;
 }

 p#submitemail{
  position: absolute;
  margin-top: 25px;
  cursor: pointer;
  color: rgba(125,125,125,1);
  font-size: 12px;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 2px;
 }

 p#comments {
  position: absolute;
  margin-top: 60px;
  color: white;
  font-size: 15px;
  font-family: "Helvetica", Helvetica, sans-serif ;
 }